<div class="bg-chg">
  <div class="jumbotron text-center">
    <h1>Blog Posts</h1>
  </div>
  <section class="main_div">
    <div class="row">
      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="set">
          <div class="form-group has-search"> <span class="fa fa-search form-control-feedback"></span>
            <%= search_form_for @q do |f| %>
            <%= f.search_field :blogger_department_cont , placeholder: 'Search'%>
            <% end %> 
          </div>
          <div class="cat_div">
            <h5>Categories</h5>
            <ul>
             <% @blogdepartment.each do |blog| %>
             <li> <a href="blogs?utf8=✓&q%5Bblogger_department_cont%5D=<%= blog.blogger_department %>&commit=search"><%= blog.blogger_department %></a>
             </li> 
             <% end %>
           </ul>
         </div>
          <div class="top_post">
            <h5>Top Posts</h5>
            <ol>
              <% @blog1.each do |blg| %>
              <li>
                <%= blg.title.truncate(35).html_safe %><br>
                <%#= blg.description.truncate(35).sanitize %>
                <%= sanitize(blg.description.truncate(35)) %>
              </li> 
              <% end %>
            </ol>
          </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
      <div class="row">
        <% @blog1.each do |blog| %>
        <div class="col-lg-4">
          <a href="blogs/<%= blog.id %>">
            <div class="blog_div">
              <% img =  blog.blogger_image.present? ? blog.blogger_image : "img/coding.jpg" %>
              <%= image_tag "#{img}" %>
              <div class="blog_con">
                <h3><%= blog.title.truncate(100).html_safe %></h3>
                <p><%= blog.description.truncate(80).html_safe %></p>
                <div class="authr">
                  <p><%= blog.user.try(:full_name) %></p>
                  <p><%= blog.created_at.strftime("%d/%m/%y") %></p>
                </div>
                <a class="right-btn" href="blogs/<%= blog.id %>">Read <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </a>
        </div>
        <%end%>
      </div>
      <div class="set_pagi">
        <%= will_paginate @blog1 %>
      </div>
    </div>
  </section>
</div>
