<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background:#f5f2ed;margin:0px 40px;padding:40px 0px;font-family: 'Roboto', sans-serif;">
  <div class="welcome_bg" style="width: 600px;margin:0px auto;background:#ffffff;">
    <div style="padding:25px;">
      <div class="text_heading">
        <p style="font-size: 16px;">Hello,</p>
        We got one enquiry by <%= @first_name %> <%= @last_name %>
        <p style="font-size: 16px;"><%= @email %></p>
        <p style="font-size: 16px;"><%= @contact_number %></p>
        <p style="font-size: 16px;"><%= @description%></p>
        <p style="font-size: 16px;"><span style="font-size: 24px;"></span> 
        </p>
      </div>
  </div>
</div>
</body>
</html>