<style type="text/css">
  .blog-nav{
    margin: 1% 0%;
  }
  .blog-nav ul{
    padding: 10px 0px;
  }
  .blog-nav ul li a{
    color: #000!important;
  }
  .blog-nav ul li a:hover{
      color: red!important;
      background-color: transparent!important;
  }
  .blog-nav .nav-item .nav-link{
    color: #000!important;
  }
  .blog-nav ul li{
    padding:10px 0px 10px 0px;
    margin-right: 35px;
    border-bottom: 2px solid transparent;
  }
  .blog-nav .nav-item:after{
    background: transparent;
  }
  .nav-height {
    height: calc(100vh - 360px);
  }
  .nav-height li:hover{
    border-bottom: 2px solid red;
  }
  .user-uploadimg img{
    width: 100%;
    object-fit: cover;
  }
.user-uploadimg {
    border: 4px solid #efefef;
    padding: 5px;
    border-radius: 0;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <h1></h1>
      <div class="position-absoluteimg">
        <img alt="Thoughtwin" class="img-responsive first_logo" src="/assets/img/header.png">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <!--  <i class="fa fa-bars"></i> -->
           <img alt="Thoughtwin" class="" src="/assets/img/menu.png">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
              <%= link_to '<button type="EDIT" class="btn sidebar-button">user update details</button>'.html_safe,  edit_user_registration_path %>
            </a>
            <a class="dropdown-item" href="#">
              <%= link_to "Logout",  destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="row">
        <div class="col-lg-2 col-md-3"  style="border: 2px solid #c3c3c3;    background-color: #efefef;">
          <div class="sidenav-buttons">
            <ul>
              <li>
                <%= link_to '<button type="PERSONAL DETAIL" class="btn sidebar-button">dashboard</button>'.html_safe, dashboard_path %>
              </li>
              <li><%= link_to '<button type="guideline" class="btn sidebar-button"> Help center</button>'.html_safe,  guideline_path %></li>
            </ul>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 no-pad">
        <div class="right-contantbox">
          <!-- form start -->
          <form>
            <div class="container">
            <!-- row start -->
              <div class="row justify-content-end">
                <% if current_user.profile_image.present? %>
                <div class="col-lg-2 col-sm-12">
                  <div class="form-group user-uploadimg float-right">
                    <img class="upl_img" src="<%= current_user.profile_image %>"> 
                    <!-- <img src="https://p.kindpng.com/picc/s/150-1503949_computer-icons-user-profile-male-profile-icon-png.png"> -->
                  </div>
                </div>
                 <% end %>
                <div class="col-lg-12 col-md-12">
                  <h1 class="personal-detailhead">personal details</h1>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>user name</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.username %>">
                  </div>
                </div>
                 <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>First name</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.first_name %>">
                  </div>
                </div>
                 <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Last name</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.last_name %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>email</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.email %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>address</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.address %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>doj</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.doj.try(:strftime, "%d-%m-%Y")   %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>dob</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.date_of_birth.try(:strftime, "%d-%m-%Y")   %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>gender</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.gender %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>contact number</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.contact_number %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>father's name</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.father_name %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>father's contact number</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.father_contact %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>mother's name</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.mother_name %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>mother's contact number</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.mother_contact %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>present address</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.present_address %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>permanent address</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.permanent_address %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>email primary</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.email_primary %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>blood group</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.blood_group %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>religion</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.religion %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>language known</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.language_known %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>marital status</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.martial_status %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>if_yes_spouse_contact_number</label><br />
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.if_yes_spouse_contact_number %>">
                  </div>
                </div>
                    <div class="col-md-12">
                  <h1 class="personal-detailhead">Account details</h1>
                  <% current_user.build_account_detail if current_user.account_detail.nil? %>
                </div>
                    <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>account_number</label><br />
                    <input type="number" class="form-control mb-3" placeholder="<%=  current_user.account_detail.account_number %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>IFSC Code:</label><br>
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.account_detail.ifsc_code %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Branch adress:</label><br>
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.account_detail.branch_address %>">
                  </div>
                </div>
                <div class="col-md-12">
                  <h1 class="personal-detailhead">ID Proof</h1>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Pan Number:</label><br>
                    <input type="text" class="form-control mb-3" placeholder="<%= current_user.account_detail.pan_number %>">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <label>Aadhar Number:</label><br>
                    <input type="number" class="form-control mb-3" placeholder="<%= current_user.account_detail.aadhar_number %>">
                  </div>
                </div>
                <% if current_user.account_detail.pan_card.present? %>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <p class="tit">Pan Card:</p>
                    <iframe src=<%= current_user.account_detail.pan_card_url %> width="450" height="480" style="border: none;"> </iframe>
                    <% end %>
                  </div>
                </div>
                <% if current_user.account_detail.aadhar_card.present? %>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                    <p class="tit">Aadhar card:</p>
                    <iframe src=<%= current_user.account_detail.aadhar_card_url %> width="450" height="480" style="border: none;"> </iframe>
                   <% end %>
                  </div>
                </div>
             <!--  </div> -->
            <!-- row end -->
            </div>
          </form>
</div></div>

<footer class="ftr_des">
  <div class="container">
    <div class="row ">
      <div class="col-lg-5">
        <img alt="Thoughtwin" class="img-responsive first_logo" src="/assets/img/header.png">
      </div>
      <div class="col-lg-4">
        <h2>Contact</h2>
        <p>India: +91 9977069348</p>
      </div>
      <div class="col-lg-3">
        <h2>Follow Us</h2>
        <div class="social-box">
          <ul class=" social-list">
            <li>
              <a href="https://www.facebook.com/thoughtwin/" target="_blank"> <i class="fa fa-facebook face_margin" aria-hidden="true" title="Facebook"></i> 
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/thoughtwin/" target="_blank"> <i class="fa fa-twitter face_margin" aria-hidden="true" title="Twitter"></i> 
              </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/company/thoughtwin" target="_blank"> <i class="fa fa-linkedin face_margin" aria-hidden="true" title="LinkedIn"></i> 
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank"> <i class="fa fa-instagram face_margin" aria-hidden="true" title="Instagram"></i> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
</div>
</div>
</div>
