<section class="blog-form pb-5 common-btndiv pad port_newpage">
  <div class="container">
    <%= form_for @portfolio do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="field">
              Title: <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="field">
              Language: <%= f.text_field :language, placeholder: "Language", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="field">
              Image: <%= f.file_field :image, placeholder: "Image", class: "form-control"%>
              <%if @portfolio.image.present?%>
                <%= @portfolio.image.file.filename %>
                <%else%>
              <%end%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="field">
              Web Link: <%= f.text_field :web_link, placeholder: "link starts with https://", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="field">
              Web Type: <%= f.select :web_type, ['Ios portfolio','Web Portfolio', 'Mobile Portfolio'], placeholder: "Side_image", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="field">
              Description: <%= f.text_area :description, placeholder: "Subject", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
       <div class="actions text-center">
        <%= f.submit class: "btn submit-btn submit-btnnew"%>
      </div>
    <% end %>
  </div>
</section>
<!-- 6/10/20 -->
<style type="text/css">
   h1{
    color: #000000!important;
    font-weight: 600;
    font-size: 40px;
    padding: 10% 0 4% 0;
  }
  .blog-form .form-group input{
    margin: 15px 0px 0px;
  }
  .common-btndiv .submit-btn input{
    border-bottom: 0;
    margin: 0;
    padding: 0;
    width:100%;
    color: #fff;
    font-weight: 500;
  }
  .common-btndiv .submit-btn{
    width: 15%;
    padding: 14px 0;
    margin: 12px auto 0;
  }
  .blog-form textarea{
    margin-top: 15px;
  }
   .blog-form .form-group input:focus{
    border-color: #c1417d !important;
  }
  .pad{
  	padding-top: 135px; 
  }
</style>